
/** op-module-develop:/develop.css
 *
 * @created   2018-11-01
 * @version   1.0
 * @package   op-module-develop
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

/* Menu block */
#develop section.menu > span:first-child:before {
	margin-right:  0.3em;
	content: "[";
}

#develop section.menu > span:last-child:after {
	margin-left:  0.3em;
	content: "]";
}

/* Menu separator */
#develop section.menu > span:not(:last-child):after {
	margin-left:  0.3em;
	content: "|";
}

/* Bread crumbs */
#develop .breadcrumbs > span:after {
	margin-left:  0.5em;
	margin-right: 0.5em;
	content: ">";
}

#develop .breadcrumbs > section.crumbs:before {
	margin-right: 0.5em;
	content: "[";
}

#develop .breadcrumbs > section.crumbs:after {
	margin-left:  0.5em;
	content: "]";
}

#develop .breadcrumbs > section.crumbs > a {
	cursor: pointer;
	text-decoration: underline;
}

#develop .breadcrumbs > section.crumbs > a:hover {
	text-decoration: none;
}

#develop .breadcrumbs > section.crumbs > a:not(:last-child):after,
#develop .breadcrumbs > section.crumbs > span:not(:last-child):after {
	margin-left:  0.25em;
	margin-right: 0.25em;
	content: "|";
}

#develop .testcase {
	_border: 1px solid var(--op-color-border);
	margin: 1em 0;
}

#develop .flex {
	display: flex; 
	justify-content: space-between;
}

#menu-right {
	border: 1px solid var(--op-color-border);
	padding: 0.5em 1em;
}

#menu-right ul, 
#menu-right li {
	margin:  0;
	padding: 0;
}

#menu-right li {
	list-style-type: none;
}

#translated_window {
	padding: 0.2em 0.5em 0.15em;
	opacity: 0.8;
	color:   var(--op-color-text);
	border:  0.5px solid var(--op-color-gray);
	background-color: var(--op-color-back);
}

#translated_window code {
	color:            var(--op-color-text);
	border-color:     var(--op-color-border);
	background-color: var(--op-color-back);
}
