
/** op-module-develop:/develop.css
 *
 * @created   2018-11-01
 * @version   1.0
 * @package   op-module-develop
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

/* Menu block */
#develop section.menu > span:first-child:before {
	margin-right:  0.3em;
	content: "[";
}

#develop section.menu > span:last-child:after {
	margin-left:  0.3em;
	content: "]";
}

/* Menu separator */
#develop .menu > span:not(:last-child):after {
	margin-left:  0.3em;
	content: "|";
}

/* Bread crumbs */
#develop .breadcrumbs > span:after {
	margin-left:  0.5em;
	margin-right: 0.5em;
	content: ">";
}

#develop .breadcrumbs > section.crumbs:before {
	margin-right: 0.5em;
	content: "[";
}

#develop .breadcrumbs > section.crumbs:after {
	margin-left:  0.5em;
	content: "]";
}

#develop .breadcrumbs > section.crumbs > a {
	cursor: pointer;
	text-decoration: underline;
}

#develop .breadcrumbs > section.crumbs > a:hover {
	text-decoration: none;
}

#develop .breadcrumbs > section.crumbs > a:not(:last-child):after,
#develop .breadcrumbs > section.crumbs > span:not(:last-child):after {
	margin-left:  0.25em;
	margin-right: 0.25em;
	content: "|";
}
