
/** op-module-develop:/webpack/develop.css
 *
 * @created   2018-11-01
 * @version   1.0
 * @package   op-module-develop
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

#develop .testcase {
	_border: 1px solid var(--op-color-border);
	margin: 1em 0;
}

#develop .flex {
	display: flex;
	/* https://developer.mozilla.org/ja/docs/Web/CSS/justify-content
	 * start: |         |
	 * space: |         |
	 */
	justify-content: space-between;
}

#develop .flex > div {
	_border: 1px dotted black;
}

#develop .flex > div:first-child {
	flex-grow: 1;
}

#menu-right {
	border: 1px solid var(--op-color-border);
	padding: 0.5em 1em;
}

#menu-right ul, 
#menu-right li {
	margin:  0;
	padding: 0;
}

#menu-right li {
	list-style-type: none;
}

#translated_window {
	padding: 0.2em 0.5em 0.15em;
	opacity: 0.8;
	color:   var(--op-color-text);
	border:  0.5px solid var(--op-color-gray);
	background-color: var(--op-color-back);
}

#translated_window code {
	color:            var(--op-color-text);
	border-color:     var(--op-color-border);
	background-color: var(--op-color-back);
}

h1 {
    font-size: 20px;
}

h1:first-child > img {
    display: none;
}

/*
h1:first-child:before {
    content: url(https://user-images.githubusercontent.com/1668339/72398593-cb0d1900-3786-11ea-863c-418ff8d48f43.png);
    vertical-align: middle;
    margin-right:  0.5rem;
}
*/
