
/** op-module-develop:/webpack/menu.css
 *
 * @created    2023-01-30
 * @version    1.0
 * @package    op-module-develop
 * @author     Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright  Tomoaki Nagahara All right reserved.
 */

@layer develop {
	@layer menu {
		#develop .menu .fold .items {
			_display: none;
		}
		#develop .menu .fold .items span:not(:last-child):after {
			content: " | ";
		}
		#develop .menu .fold .switch {
			cursor: pointer;
		}
	}
}

/* Menu block */
section.menu > span:first-child:before {
	margin-right:  0.3em;
	content: "[";
	color: var(--color-text);
}

section.menu > span:last-child:after {
	margin-left:  0.3em;
	content: "]";
	color: var(--color-text);
}

/* Menu separator */
section.menu > span:not(:last-child):after {
	margin-left:  0.3em;
	content: "|";
	color: var(--color-text);
}
